@import 'colors';
@import 'typo';

@mixin headfootflex {
	background-color: $primary-color;
	color: $text;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
	font-family: $font-primary;
}

header {
	@include headfootflex();

	h1 {
		margin: 20px;
	}

	ul {
		display: flex;
		list-style-type: none;
		margin: 20px;

		li {
			padding: 20px;
		}
	}

	a {
		color: $text;
		text-decoration: none;
		&:hover {
			color: #1975ff;
		}
	}
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

article {
	font-family: $font-secondary;
	background-color: $text;
	color: $primary-color;
	margin: 30px;
	padding: 30px;
	border-radius: 10px;

	h2 {
		margin-bottom: 15px;
		border-bottom: 1px dashed #333;
	}
}

aside {
	@extend article;
}

footer {
	@extend header;

	span {
		margin: 20px;
	}
}

@import 'media';
